// Font mixin
@mixin font-family {
  font-family: 'PT Sans', sans-serif;
}


// Shadow mixin for navbar
@mixin box-shadow ($top, $right, $bottom, $left) {
  -webkit-box-shadow: $top $right $bottom $left #000000;
	-moz-box-shadow: $top $right $bottom $left #000000;
	box-shadow: $top $right $bottom $left #000000;
}
