/*
* This is the main stylesheet
*
*/

// Import other scss
@import 'variables';
@import 'mixins';


html {

}
* {margin: 0; padding: 0;}

body {
	background-color: $background-color;
  	@include font-family;
	line-height: $line-height;
}

a {
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
  	color: $link-color-hover;
}

p {
	margin-bottom: $extra-margin-bottom-small;
	font-size: 1.1em;
}

/*Style for navbar*/
#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 35px;
	text-align: center;
	padding-top: 15px;
	/*Add shadow to the bottom of the bar*/
  @include box-shadow(0px, 0px, 8px, 0px);
	/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: $primary-color;
}

/*Style for header logo*/
#header-logo {
	display: inline;
	height: 45px;
	width: 45px;
	float: left;
	position: relative;
	top: -12px;
	left: 10px;
}

/*Style for main wrapper */
div.wrapper {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width: $div-length;
	padding: 5px;
}

/*Style for full-width wrapper on sign-up.php*/
div.price-fullwidth {
	width: 100%;
	height: 250px;
	background-image: url("../img/dark.png");
  @include box-shadow(0px, 0px, 5px, 0px);
}


/*Style for child-div inside the price-wrapper*/
div.price-content {
	width: $div-length;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px;
	color: white;
}

/*Helper class for extra margin*/
div.extra-margin-top {
	margin-top: $extra-margin-top;
}
/*Helper class for extra margin*/
div.extra-margin-bottom {
	margin-bottom: $extra-margin-bottom;
}

/*Helper class for extra margin*/
div.extra-padding-small-bottom {
	padding-bottom: $extra-padding-bottom;
}
/* Style for  full-width page images */
.page-img {
	width: 100%;
	height: 475px;
	margin-top: 50px;
	background-size: cover;
	background-repeat:  no-repeat;
	background-position: center center;
}


/*Style for a yellow span*/
span.span-yellow {
	color: $primary-color;
}

span.span-emphasize {
	font-size: 1.35em;
	font-style: italic;
}


/*
*Style for button on sign-up.php
*
*/
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:hover {
	cursor: pointer;
	text-decoration: none;
	color: white;
	background-color: lighten($primary-color, 10%);
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 5px 0px 0px;
  text-decoration: none;
}
.btn link {
	  text-decoration: none;
	  color: black;
}

.yellow {
	background-color: $primary-color;
	box-shadow: 0px 5px 0px 0px darken($primary-color, 20%);
}

 /*
 * Style for link-list on useful-links.php
 *
 */
.link-list {
  width: 900px;
  margin: 10px
}
ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 'PT Sans', sans-serif;
  margin-bottom: 20px;
  color: $primary-color;
}

li p {
  font: 18px/1.5 'PT Sans', sans-serif;
  padding-left: 60px;
  color: black;
}

span.list-span {
  position: absolute;
}
// Import responsiveness
@import 'responsive';
