// Color variables
$primary-color: #F8AD09;
$link-color-hover: lighten($primary-color, 10%);
$background-color: #eee;

// Helper variables for extra padding and margins
$extra-margin-top: 100px;
$extra-margin-bottom: 40px;
$extra-margin-bottom-small: 15px;
$extra-padding-bottom: 10px;


// Variable for div length
$div-length: 960px;

// Line height
$line-height: 1.4em;
